<h1>index</h1>

<table class = "table">
  <!-- thead-darkはブートストラップ -->
  <thead class = "thead-dark">
    <tr>
      <th>名前</th>
      <!-- 追加 -->
      <th>年齢</th>
      <th>趣味</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=user.name %></td>
      <!-- 追加 -->
      <td><%=user.age %></td>
      <td><%=user.hobby %></td>
    </tr>
    <% end %>
  </tbody>
</table>
