<h1>hello world!</h1>
<table class = "table">
  <thead class = "thead-dark">
    <tr>
      <th>名前</th>
      <th>趣味</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=user.name %></td>
      <td><%=user.hobby %></td>
    </tr>
    <% end %>
  </tbody>
</table>
